
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/css/s1.css">
        <link rel="icon" type="image/png"  href="rk.png">

        <!-- =====BOX ICONS===== -->


        <title>IAS</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div><h2>
                    <a href="#" class="nav__logo">INSTANT AMBULANCE SERVICE</a></h2>
                                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">HELP</a></li>
                      <li class="nav__item"><a href="#contact" class="nav__link">LIST OF DRIVERS</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <p><H2>CLICK TO GET EXACT LOCATION</H2></p>
                    {% for row in data %}
                      <a href="" class="button" download><p>DRIVER NAME:{{row['name']}}</p><p>vehicle number:{{row['carinfo']}}</p><p>Location:{{row['coordinates']}}</p><p>Speed:{{row['speed']}}</p></a>
                    {% endfor %}

                    <!--<a href="" class="button1">Report a New Accident</a>-->


                </div>
                <a href="" class="button1">Report a New Accident</a>
            </section>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">ABC HOSPITAL</p>

            <p>&#169; 2021 copyright all right reserved</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>


        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    </body>
</html>
